body
{
    background-color: #9b7c79;
    color: #3a312c;
}

div#panelz
{
    background-color: #e1dfda;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 50em;
    border: 1em solid #3a312c;
    margin: auto;
    margin-top: 2em;
}

div.canvas
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4000px;
    height: 4000px;
    background-image: url('bg.png');
}

/* Panels */

div.panel
{
    direction: rtl;
    position: absolute;
    min-width: 25em;
    min-height: 5em;
    border: 0.3em solid #9b7c79;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color:#ffffff;
}

div.noborder
{
    border: 0em solid black;
    background-color: transparent;
    width: 10em;
    min-width: 15em;
    min-height: 3em;
}

/* Chunks */

div.panel div
{
    padding: 0.3em;
}

/* Balloons */

div.כותרת
{
    font-size: 1.5em;
}

div.מאת
{
    font-size: 1em;
}

div.b, div.thought, div.bleft, div.bright
{
    position: relative;
    color: #000022;
    padding: 0.3em;
    margin: 0.3em 0.6em 0.3em 0.6em;
    border: 0.1em solid #9b7c79;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color:#ffffafa;
}

div.thought
{
    border: 0.1em dashed #222244;
}

div.bleft:before
{
   position: absolute;
   content:"";
   width: 0em;
   height: 0em;
   right: 100%;
   top: 10%;
   border-top: 0.3em solid transparent;
   border-right: 0.6em solid #9b7c79;
   border-bottom: 0.1em solid transparent;
}

div.bright:after
{
   position: absolute;
   content:"";
   width: 0em;
   height: 0em;
   left: 100%;
   top: 50%;
   border-top: 0.3em solid transparent;
   border-left: 0.6em solid #9b7c79;
   border-bottom: 0.1em solid transparent;
}
