body
{
    background-color: #9b7c79;
    color: #3a312c;
}

div#panelz
{
    background-color: #e1dfda;
    position: relative;
    overflow: hidden;
    width: 64em;
    height: 36em;
    border: 0.5em solid black;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin: auto;
    margin-top: 2em;
}

div.canvas
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4000px;
    height: 4000px;
    background-image: url('bg.png');
}

/* Panels */

div.panel
{
    width: auto !important;
    height: auto !important;
    min-width: 1em !important;
    min-height: 1em !important;
    padding: 0em !important;
    margin: 0em !important;
    border: 0em solid black !important;
}

div.noborder
{
    border: 0em solid black;
    background-color: transparent;
    width: 10em;
    min-width: 15em;
    min-height: 3em;
}


div.branch
{    
    color:white;
    background-size:100% 100%;
    font-size:1.5em;
    padding-right:10px;
}

div.p1 
{
    border: 0em solid black;
    background-color: #fff9ef;
    width: 64em;
    height: 36em;
}

div.p1 div:first-child {margin-top:32px}

div.p2 
{
    width: 24em;
    height: 13.5em;
}

div.p2 div 
{
    width: 45em;
    min-height: 1em;
}

div.p3 
{
    width: 35em;
    min-height: 1em;
}

div.p3 div 
{
    width: 25em;
    min-height: 1em;
}
/* Chunks */

div.panel div
{
    padding: 0.3em;
}

/* Balloons */

div.כותרת
{
    font-size: 1.5em;
}

div.מאת
{
    font-size: 1em;
}

div.b, div.thought, div.bleft, div.bright
{
    position: relative;
    color: #000022;
    padding: 0.3em;
    margin: 0.3em 0.6em 0.3em 0.6em;
    border: 0.1em solid #9b7c79;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color:#ffffafa;
}

div.thought
{
    border: 0.1em dashed #222244;
}

div.bleft:before
{
   position: absolute;
   content:"";
   width: 0em;
   height: 0em;
   right: 100%;
   top: 10%;
   border-top: 0.3em solid transparent;
   border-right: 0.6em solid #9b7c79;
   border-bottom: 0.1em solid transparent;
}

div.bright:after
{
   position: absolute;
   content:"";
   width: 0em;
   height: 0em;
   left: 100%;
   top: 50%;
   border-top: 0.3em solid transparent;
   border-left: 0.6em solid #9b7c79;
   border-bottom: 0.1em solid transparent;
}
