/* Panels */

div.panel
{
    min-width: 24em;
    min-height: 6em;
    width: auto;
    max-width: 32em;
}

div.noborder
{
    background: none;
}

div.wide
{
    min-width: 36em;
    min-height: 15em;
}

/* Chunks */

/*
div.panel div
{
    min-width: 10em;
    min-height:4em
    width: auto;
    height: auto;
}
*/

div.big
{
    font-size: 1.2em;
}

div.bold
{
    font-weight: bold;
}

div.center
{
    text-align: center;
    float: none;
    margin: auto;
}

div.transparent
{
    opacity: 0.4;
}

/* Balloons */

div.note
{
    margin: auto;
    border: 1px solid black;
    margin: 1em;
}

div.married
{
    width: 5em;
}

div.left, div.right
{
    position: relative;
    color: #000022;
    background-color:#ffffafa;
    margin: 0.5em 1em 0.5em 1em;
    border: 0.2em solid #ddcccc;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    min-height: 6em;
}

div.left
{
    clear: left;
    margin-left: 12em;
}

div.right
{
    clear: right;
    margin-right: 12em;
}

div.left:before
{
   position: absolute;
   width: 11em;
   height: 5em;
   right: 100%;
}

div.right:before
{
   position: absolute;
   content:"";
   width: 11em;
   height: 5em;
   left: 110%;
}

div.flip:before, div.flip:after
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

div.Balashi.left:before, div.Balashi.right:before
{
    content:url('http://corky.net/israel/game/_media/seeds/bulok_thumb.jpg');
}

div.Nardin.left:before, div.Nardin.right:before
{
    content:url('http://corky.net/israel/game/_media/seeds/nardin_thumb.jpg');
}

div.Ehsan.left:before, div.Ehsan.right:before
{
    content:url('http://corky.net/israel/game/_media/seeds/hasan_thumb.jpg');
}

div.Ishtar.left:before, div.Ishtar.right:before
{
    content:url('http://corky.net/israel/game/_media/seeds/ishtar_thumb.jpg');
}

div.Nirar.left:before, div.Nirar.right:before
{
    content:url('http://corky.net/israel/game/_media/seeds/nirar_thumb.jpg');
}

div.Timi.left:before, div.Timi.right:before
{
    content:url('http://corky.net/israel/game/_media/seeds/Timi_thumb.jpg');
}

div.Balashi.thought:after
{
    background-image:url('http://corky.net/israel/game/_media/seeds/bulok_thumb.jpg');
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 9em;
    height: 9em;
    content:"";
}

div.Nirar.thought:after
{
    content:url('http://corky.net/israel/game/_media/seeds/nirar_thumb.jpg');
    position: absolute;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 9em;
    height: 9em;
    bottom: 4em;
    right: 1em;
}
