/* Panels */

div.wide
{
    width: 20em;
    min-height: 8em;

}

.panel:not(.noborder) {padding-left:11em;}



/* Chunks */

div.panel div
{
    clear: both;
    min-height:7em
}

div.center
{
    text-align: center;
    float: none;
}

div.bold
{
    font-weight: bold;
}

div.big
{
    font-size: 1.2em;
}

div.CLI
{
    border-color: green;
    font-family: monospace;
}

div.transparent
{
    opacity: 0.4;
}

/* Balloons */

.bleft::before {padding-right:10.5em;}
.bright::after {top:10% !important;}
.bright {left:-11em}


div.Balashi.bleft::before, div.Balashi.bright::after,div.Balashi.thought::before
{
    content:url('http://corky.net/israel/game/_media/seeds/bulok_thumb.jpg');
	
}

div.Nardin.bleft::before, div.Nardin.bright::after,div.Nardin.thought::before
{
    content:url('http://corky.net/israel/game/_media/seeds/nardin_thumb.jpg');
	
}

div.Ehsan.bleft::before, div.Ehsan.bright::after,div.Ehsan.thought::before
{
    content:url('http://corky.net/israel/game/_media/seeds/hasan_thumb.jpg');
	
}


div.Ishtar.bleft::before, div.Ishtar.bright::after,div.Ishtar.thought::before
{
    content:url('http://corky.net/israel/game/_media/seeds/ishtar_thumb.jpg');
	
}

div.Nirar.bleft::before, div.Nirar.bright::after,div.Nirar.thought::before
{
    content:url('http://corky.net/israel/game/_media/seeds/nirar_thumb.jpg');
	
}



div.Timi.bleft::before, div.Timi.bright::after,div.Timi.thought::before
{
    content:url('http://corky.net/israel/game/_media/seeds/Timi_thumb.jpg');
	
}


/*

div.Balashi
{

    color: grey;
}

div.Ehsan
{
    color: black;
}

div.Ishtar
{
    color: red;
}

div.Nardin
{
    color: green;
}

div.Nirar
{
    color: cyan;
}

div.Timi
{
    color: blue;
}*/
