/* Panels */

div.panel
{
    background-color:#ffffff;
}

/* Chunks */

div.panel div
{
    position: relative;
    float: left;
    padding: 0.5em;
}

div.d
{
    color: #3a312c;
    padding: 2px;
}

div.d-invert
{
    background-color: #3a312c;
    color:#ffffff;
}

div.big
{
    font-size: 1.2em;
}

div.CLI
{
    border-color: green;
    font-family: monospace;
}

/* Balloons */

div.b, div.thought, div.bleft, div.bright, div.Six, div.Julia, div.Velcro, div.Andrew
{
    position: relative;
    color: #000022;
    background-color:#ffffafa;
    margin: 0.5em 1em 0.5em 1em;
    border: 0.2em solid #9b7c79;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

div.thought
{
    border: 0.1em dashed #222244;
}

div.bleft
{
    margin-left: 1em;
}

div.Six
{
    border-color:#f4b7b4;
    color: #550000;
}

div.Six.bright:after, div.Six.bleft:after
{
    border-left: 10px solid #f4b7b4;
}

div.Six.bright:before, div.Six.bleft:before
{
    border-right: 10px solid #f4b7b4;
}

div.Julia
{
    color: #005500;
}

div.Velcro
{
    color: #000055;
}

div.Andrew
{
    background-color: #3a312c;
    color:#ffffff;
}
